@{
    ViewBag.Title = "Welcome Page";
}
 @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/app.css">
    
<div class="jumbotron">
    <h1>欢迎使用</h1>
    <p class="lead">包裹代取服务平台是一款基于校园环境下的网络服务平台。<br>希望同学们本着举手之劳，广交良友的心使用服务。</p>
</div>
<div class="col-md-6">
    <h2>联系我们</h2>
    <p>华东师范大学 计算机科学与软件学院 软件工程 李琪琦 445072942@qq.com</p>
    <p>华东师范大学 计算机科学与软件学院 软件工程 焦小洪</p>       <p></p>
</div>
