@model Delivery.Models.Users

@{
    ViewBag.Title = "个人设置";
}

<html>
<head>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/app.css">

    <script src="~/scripts/app.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>

<body>
    <section class="bg-light">
        <div class="container">
            <header>
                <h1>Personal information setting----are you ready?</h1>
            </header>
            <div style="margin-left:460px">
                <a href="#about" class="scroll-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <header>
                <h2>个人设置</h2>
            </header>

            <div class="row">
                <div class="col-sm-4">
                    <div class="icon-box">
                        <img src="~/images/clock.png" alt="Clock icon">
                        <h3>基本信息</h3>
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-3 control-label">User</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" id="user">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" id="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-3 control-label">Grade</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" id="grade">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-3 control-label">Password</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" id="inputPassword">
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="icon-box">
                        <img src="~/images/graph.png" alt="Graph icon">
                        <h3>联系方式</h3>
                        <table class="table">
                            <tbody>
                                <tr class="active">
                                    <td>手机号</td>
                                    <td> <input type="text" class="form-control" id="number"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="icon-box">
                        <img src="~/images/open-box.png" alt="Box icon">
                        <div id="content">
                            <form id="Form1" method="post" runat="server"
                                  enctype="multipart/form-data">
                                <fieldset>
                                    <legend>常用地址:</legend>
                                    <div>
                                        <table>
                                            <tr>
                                                <td id="tdRrmove" width="2000">
                                                    <!--承接整个file文件框的HTML容器-->
                                                    <div id="uploadContent">
                                                        <!--默认的file文件框
                                                                                                <div id=div1><input id=file1

                                                        type=file size=50 name=upload></div>-->
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <a href="javascript:addUpload()"><span class="glyphicon glyphicon-plus"></span></a>
                                    <br />
                                    <br />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center mt-lg">
                <a href="javascript:Router.goToQuotePage()" class="btn btn-lg btn-action">保存</a>
            </div>
        </div>
    </section>


    @*<section class="bg-light">
                <div class="container">
                    <div class="text-center">
                        <h2 class="mb-lg">Ready to order your package?</h2>
                        <a href="text" class="btn btn-lg btn-action">let's go</a>
                    </div>
                </div>
            </section>

            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 footer-copy">
                            &copy;2016 Package@ecnu.edu.cn
                        </div>

                        <div class="col-md-6 footer-links">
                            <a href="text">Home</a>
                            <a href="Create">Create</a>
                            <a href="Details">Details</a>
                        </div>

                        <div class="col-md-3 footer-socials socials">
                            <img src="~/images/4.png">
                        </div>

                    </div>
                </div>
            </footer>
        </div>*@
</body>
</html>
