body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 320px;
}

.loginTitle {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 49%;
}

.logo {
    width: 270px;
    height: 200px;
    position: absolute;
    top: 10%;
    left: 41%;
}

.auth-form-body {
    width: 320px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    background-color: #fff;
    border: 1px solid #768995;
    margin-left: -170px;
    margin-top: -110px;
    padding: 20px 20px 10px;
    border-top: 1px solid #d8dee2;
    border-bottom: 1px solid #d8dee2;
    border-left: 1px solid #d8dee2;
    border-right: 1px solid #d8dee2;
    border-radius: 5px;
}

.input-block {
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.form-control {
    min-height: 34px;
    padding: 7px 8px;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

.btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-appearance: none;
}

.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}

.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    background-color: #60b044;
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    border-color: #5ca941;
}

body {
    font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.428571429;
    color: #333333;
    background-color: #f9f9f9;
}

.create-account-callout {
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #d8dee2;
    border-radius: 5px;
    width: 320px;
    position: absolute;
    left: 50%;
    top: 85%;
    margin: 0;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    background-color: #f9f9f9;
    border: 1px solid #768995;
    margin-left: -170px;
    margin-top: -110px;
    padding: 20px 20px 10px;
    border-top: 1px solid #d8dee2;
    border-bottom: 1px solid #d8dee2;
    border-left: 1px solid #d8dee2;
    border-right: 1px solid #d8dee2;
}
.create-order-form {
    width: 400px !important;
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: -15px;
    margin-left: -15px;
    display: table;
    content: " ";
    clear: both;
}

#allmap{width:100%;height:500px;}
#l-map{height:300px;width:100%;}
#r-result{width:100%; }

@media (min-width: 500px) {
  .create-order-form {
    text-align: right;
  }
}
table{
    
    margin-top:30px;
   *border-collapse: collapse;
  border-spacing:0;

}
.bordered {
				
				-moz-border-radius: 20px;
				-webkit-border-radius: 20px;
				border-radius: 20px;
				-webkit-box-shadow: 0 1px 1px #ccc;
				-moz-box-shadow: 0 1px 1px #ccc;
				box-shadow: 0 1px 1px #ccc;
			}

			.bordered tr {
				-o-transition: all 0.1s ease-in-out;
				-webkit-transition: all 0.1s ease-in-out;
				-moz-transition: all 0.1s ease-in-out;
				-ms-transition: all 0.1s ease-in-out;
				transition: all 0.1s ease-in-out;		
			}
			.bordered .highlight,
			.bordered tr:hover {
				background: #fbf8e9;		
			}
			.bordered td, 
			.bordered th {
				border-left: 1px solid #ccc;
				border-top: 1px solid #ccc;
				padding: 10px;
				text-align: left;
			}
			.bordered th {
				background-color: #dce9f9;
				background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
				background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
				background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
				background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
				background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
				background-image: linear-gradient(top, #ebf3fc, #dce9f9);
				filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ebf3fc, endColorstr=#dce9f9);
				-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ebf3fc, endColorstr=#dce9f9)";
				-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
				-moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
				box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
				border-top: none;
				text-shadow: 0 1px 0 rgba(255,255,255,.5);
			}
			.bordered td:first-child, 
			.bordered th:first-child {
				border-left: none;
			}
			.bordered th:first-child {
				-moz-border-radius: 20px 0 0 0;
				-webkit-border-radius: 20px 0 0 0;
				border-radius: 20px 0 0 0;
			}
			.bordered th:last-child {
				-moz-border-radius: 0 20px 0 0;
				-webkit-border-radius: 0 20px 0 0;
				border-radius: 0 20px 0 0;
			}
			.bordered tr:last-child td:first-child {
				-moz-border-radius: 0 0 0 20px;
				-webkit-border-radius: 0 0 0 20px;
				border-radius: 0 0 0 20px;
			}
			.bordered tr:last-child td:last-child {
				-moz-border-radius: 0 0 20px 0;
				-webkit-border-radius: 0 0 20px 0;
				border-radius: 0 0 20px 0;
			}

            .right-content{
    width: 260px;
    background: #fff;
    float: left;
    margin-left: 10px;
    overflow: hidden;
}

form{
    padding: 0;
    margin: 0;
}

.search{
    width: 220px;
    height: 40px;
    padding: 20px;
    overflow: hidden;
}

.search_key{
    width: 120px;
    height: 38px;
    line-height: 40px;
    font-size: 20px;
    color:#ddd;
    border: 1px solid #ddd;
    padding-right: 10px;
    padding-left: 40px;
    background: url(../img/search.gif) no-repeat 5px 5px ;
}

.btn_submit{
    width: 44px;
    height: 40px;
    background: #ddd;
    font-size: 20px;
    color: #fff;
    border: 0;
}